<footer class="site-footer">

    <nav class="navbar navbar-default" role="footer">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">A Faithful Witness</a>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
        <ul class="nav navbar-nav pull-right">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/news">What's New</a></li>
            <li><a href="{{ site.baseurl }}/ebooks">Books</a></li>
            <li><a href="{{ site.baseurl }}/sitemap">Site Map</a></li>
        </ul>

        <p class="navbar-text small"> © 2009-2014 DCP. All Rights Reserved. <br>
        DCP is a project to defend and confirm the New Testament ministry of Watchman Nee and Witness Lee and the practice of the local churches. <br>
        All verses and footnotes are from the Holy Bible, Recovery Version. Excerpts from the Recovery Version and the ministry of Watchman Nee and Witness Lee are copyrighted by Living Stream Ministry and used by permission. Witness Lee is the author of quoted materials unless otherwise noted.</p>

    </div>
    </nav>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

    <script src="{{ site.baseurl }}/js/vendor/bootstrap.min.js"></script>

    <script src="{{ site.baseurl }}/js/main.js"></script>
    
    {% if "home warnings reports documents teachings articles excerpts" contains page.section %}
    <script>
      $(document).ready(function() {
        $("#navbar #{{ page.section }}").addClass("active");
      });

    </script>
    {% endif %}

     <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

</footer>
