<header class="site-header">

    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#">English</a></li>
        <li><a href="#">中文</a></li>
        <li><a href="#">Español</a></li>
        <li><a href="#">한국어</a></li>
        <li><a href="#">日本語</a></li>
        <li><a href="#">Français</a></li>
        <li><a href="#">Portuguès</a></li>
        <li><a href="#">Deutsch</a></li>
    </ul>

    <h1 class="page-header"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/warnings">Warnings</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/documents">Documents</a></li>
            <li><a href="/teachings">Teachings</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/excerpts">Excerpts</a></li>
        </ul>
    </nav>

</header>
